# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root=true

[.{js,ts}]
charset = utf-8
indent_style = tab
indent_size = 4
